*{
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'Nanum Gothic', sans-serif;
}

html{
	width: 100%;
	height: 100%;
	user-select: none;
}

body {
	margin: 0;	
	background: #654ea3; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #654ea3, #ffcfdf); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #654ea3, #ffcfdf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  canvas {
	display: block;
  }
  
  #particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
  }

ul{
	list-style: none;
	padding-left: 0;
}

.Todo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 5px;
	width: 400px;
	height: 600px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
	-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
}

header{
	position: relative;
	height: 50px;
	text-align: center;
	padding: 12px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #f4eeff;
}

.title{
	position: relative;
	font-size: 1.4em;
	font-weight: 600;
	color: #403f48;
}

.title span{
	vertical-align: middle;
}

.logo{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	background: url('./image/todo_logo.png') no-repeat center/90%;
}

.todo_add_wrap{
	position: relative;
	width: 100%;
	height: 80px;
	padding: 20px;
}

.todo_input_txt{
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(0, -50%);
	width: 77%;
	height: 33px;
	padding: 3px 7px;
	outline: 0;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	outline: 0;
	font-size: 0.9em;
}

.add_btn{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(0, -50%);
	width: 38px;
	height: 38px;
	border-radius:50%;
	border: none;
	vertical-align: middle;
	outline: 0;
	background-color: #d3d4d8;
	transition: 0.3s ease;
	cursor: pointer;
}

.add_btn:hover{
	background-color: #b693fe;
}

.add_btn:after{
	content : '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 2px;
	background-color: #fff;
}

.add_btn:before{
	content : '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2px;
	height: 50%;
	background-color: #fff;
}

.todo_list_wrap{
	width: 100%;
	height: 470px;
	position: relative;
	overflow: auto;
}

.list{
	border-top: 1px solid #e0e0e0;
}

.list>li{
	position: relative;
	width: 100%;
	padding: 12px 80px 12px 45px;
	vertical-align: middle;
	transition: 0.2s;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
	z-index: 9999;
}

.list>li:hover{
	background-color: #eeeeee;
}

.list>.done{
	background-color: #faf7ff;
}

.list>.done .todo_txt{
	text-decoration: line-through;
}

.list>li>span{
	font-family: 'Noto Sans KR', sans-serif;
	color: #393e46;
}

.edit_txt{
	display: none;
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translate(0 , -50%);
	width: 65%;
	height: 30px;
	padding: 2px 5px;
	outline: 0;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	outline: 0;
	font-size: 0.8em;
}


.list>.edit>.edit_txt{
	display: block;
}


.edit_btn{
	position: absolute;
	top: 50%;
	right: 45px;
	transform: translate(0, -50%);
	width: 33px;
	height: 33px;
	background: url("./image/edit.png") no-repeat center/70%;
	transition: 0.2s;
	opacity: 0;
}

.delete_btn{
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translate(0, -50%);
	width: 33px;
	height: 33px;
	background: url("./image/delete.png")  no-repeat center/75%;;
	transition: 0.2s;
	opacity: 0;
}
.edit:hover .delete_btn{
	display: none;
}

.list>li>.todo_txt{
	font-size: 0.93em;
	line-height: 1em;
}

.list>li:hover .edit_btn{
	opacity: 1;
}

.list>li:hover .delete_btn{
	opacity: 1;
}

.list>li>.date_txt{
	position: absolute;
	bottom: 3px; right: 5px;
	font-size: 0.25em;
	transition: 0.23s;
	white-space: nowrap;
}

.list>li:hover .date_txt{
	opacity: 0;
}

.list>li:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 15px;
	width: 14px;
	height: 14px;
	border: 1px solid #aaaaaa;
	color: #7868e6;
	transform: translate(0, -50%);
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8em;
}

.list>li::before{
	content: '';
	position: absolute;
	top: 30%;
	left: 15px;
	transform: translate(0, -50%) rotate(-45deg);
	width: 17px;
	height: 10px;
	border-left: 3px solid #b693fe;
	border-bottom: 3px solid #b693fe;
	display: inline-block;
	z-index: 999;
	opacity: 0;
	transition: 0.34s;
}

.list>.done:before{
	content: '';
	position: absolute;
	top: 30%;
	left: 15px;
	transform: translate(0, -50%) rotate(-45deg);
	width: 17px;
	height: 10px;
	border-left: 3px solid #a56cc1;
	border-bottom: 3px solid #a56cc1;
	display: inline-block;
	z-index: 999;
	opacity: 1;
}



@media screen and (min-width:768px) and (max-width: 1023px) {
	header{
		position: relative;
		height: 60px;
		text-align: center;
		padding: 14px;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		background: #f4eeff;
	}
	
	.title{
		position: relative;
		font-size: 1.5em;
		font-weight: 600;
		color: #403f48;
	}	
	
	.todo_add_wrap{
		position: relative;
		width: 100%;
		height: 80px;
		padding: 20px;
	}
	.Todo{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		border-radius: 9px;
		width: 75%;
		height: 80%;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
		-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
		-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
	}

	.todo_add_wrap{
		position: relative;
		width: 100%;
		height: 10vh;
		padding: 20px;
	}

	.todo_input_txt{
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translate(0, -50%);
		width: 80%;
		height: 33px;
		padding: 3px 7px;
		outline: 0;
		border-radius: 3px;
		border: 1px solid #bbbbbb;
		outline: 0;
		font-size: 0.9em;
	}

	.add_btn{
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translate(0, -50%);
		width: 38px;
		height: 38px;
		border-radius:50%;
		border: none;
		vertical-align: middle;
		outline: 0;
		background-color: #d3d4d8;
		transition: 0.3s ease;
		cursor: pointer;
	}

	.todo_list_wrap{
		position: relative;
		width: 100%;
		height: calc( 80vh - (60px + 10vh));
		overflow: scroll;
	}


	.list>li{
		position: relative;
		width: 100%;
		padding: 17px 80px 17px 55px;
		vertical-align: middle;
		transition: 0.2s;
		border-bottom: 1px solid #e0e0e0;
		cursor: pointer;
		z-index: 9999;
	}

	.list>li:after{
		left: 18px;
	}
	
	.list>li::before{
		left: 18px;
	}

	.list>.done:before{
		left: 18px;
	}

	.list>li>.todo_txt{
		font-size: 1.15em;
		line-height: 1em;
	}

	.list>li>.date_txt{
		position: absolute;
		bottom: 3px; right: 11px;
		font-size: 0.25em;
		white-space: nowrap;
	}

	.edit_txt{
		display: none;
		top: 50%;
		left: 50px;
		width: 65%;
		height: 33px;
		padding: 2px 7px;
		font-size: 1.15em;
	}

}


@media screen and (min-width: 321px) and (max-width: 768px) {
	header{
		position: relative;
		height: 60px;
		text-align: center;
		padding: 14px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background: #f4eeff;
	}
	
	.title{
		position: relative;
		font-size: 1.55em;
		font-weight: 600;
		color: #403f48;
	}


	.Todo{
		position: relative;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		background-color: #fff;
		border-radius: 0px;
		width: 100%;
		height: 100vh;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
		-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
		-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
	}

	.todo_add_wrap{
		position: relative;
		width: 100%;
		height: 15vh;
		padding: 20px;
	}

	.todo_input_txt{
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translate(0, -50%);
		width: 73%;
		height: 33px;
		padding: 3px 5px;
		outline: 0;
		border-radius: 3px;
		border: 1px solid #bbbbbb;
		outline: 0;
		font-size: 0.9em;
	}

	.todo_list_wrap{
		width: 100%;
		height: calc(85vh - 60px);
		position: relative;
		
	}

	.list{
		height: 100%;
	}

	.list>li{
		padding: 13px 80px 13px 50px;
	}

	.list>li>.todo_txt{
		font-size: 1em;
		line-height: 1em;
	}

	.edit_txt{
		display: none;
		top: 50%;
		left: 43px;
		width: 65%;
		height: 30px;
		padding: 2px 7px;
		font-size: 0.95em;
	}
}

@media screen and (max-width: 320px){
	header{
		position: relative;
		height: 50px;
		text-align: center;
		padding: 11px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background: #f4eeff;
	}
	
	.title{
		position: relative;
		font-size: 1.4em;
		font-weight: 600;
		color: #403f48;
	}
	

	.Todo{
		position: relative;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		background-color: #fff;
		border-radius: 0px;
		width: 100%;
		height: 100vh;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
		-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
		-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7)  ; 
	}

	.todo_add_wrap{
		position: relative;
		width: 100%;
		height: 13vh;
		padding: 20px;
	}

	.todo_input_txt{
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translate(0, -50%);
		width: 71%;
		height: 35px;
		padding: 3px 7px;
		outline: 0;
		border-radius: 3px;
		border: 1px solid #bbbbbb;
		outline: 0;
		font-size: 0.9em;
	}

	.todo_list_wrap{
		width: 100%;
		height: calc( 100vh - (50px + 13vh));
		position: relative;
		
	}

	.list{
		height: 100%;
	}

	
}